<div class="flex flex-col h-full">
    <app-navbar></app-navbar>

    <div class="flex items-center w-full grow relative justify-center lg:justify-start">
        <div class="w-full sm:w-2/3 lg:w-2/5 px-8 lg:px-16 2xl:px-28 py-16">
            <div *ngIf="errorMessage != ''" class="rounded border border-red-500 bg-red-100 px-4 py-3 mb-10">{{
                errorMessage }}</div>

            <form *ngIf="!isVerifying && !isResetting; else verification" [formGroup]="emailForm"
                (submit)="onEmailFormSubmit()">
                <div class="text-4xl font-medium">Reset Password</div>
                <div class="mt-12">Enter your email to reset password</div>

                <input formControlName="email" type="email" class="mt-4 text-sm rounded w-full" placeholder="email"
                    [ngClass]="{'border border-red-600': emailForm.controls['email'].errors && emailFormSubmitted}" />

                <span
                    *ngIf="emailForm.controls['email'].errors?.['required'] && emailFormSubmitted; else checkEmailFormat"
                    class="text-xs text-red-600">
                    This field is required
                </span>
                <ng-template #checkEmailFormat>
                    <span *ngIf="emailForm.controls['email'].errors?.['email'] && emailFormSubmitted"
                        class="text-xs text-red-600">
                        Email format is invalid
                    </span>
                </ng-template>

                <div class="flex mt-5 items-end">
                    <a class="link" [routerLink]="['/login']">Sign in</a>
                    <button class="btn btn-blue ms-auto" type="submit">Submit</button>
                </div>
            </form>

            <ng-template #verification>
                <form *ngIf="isVerifying; else resetPassword" [formGroup]="verificationForm"
                    (ngSubmit)="onVerificationFormSubmit()">
                    <div class="text-4xl font-medium">Email Verification</div>
                    <div class="mt-8">We have sent a 6 digis verification code to your email</div>

                    <div class="flex items-center mt-5">
                        <div class="flex items-center border w-2/3 xl:w-1/2"
                            [ngClass]="verificationForm.controls['verificationCode'].errors && verificationFormSubmitted ? 'border-red-600' : 'border-slate-900'">
                            <div class="bg-slate-100 px-2 py-1 text-lg text-slate-500 h-full">@</div>

                            <input formControlName="verificationCode" type="text"
                                class="w-full h-full border-0 grow focus:ring-0" maxlength="6"
                                oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                        </div>

                        <div class="ms-6">
                            <a [ngClass]="resendEnable ? 'link' : 'text-slate-400'" (click)="onResend()">resend</a>
                            <span *ngIf="!resendEnable" class="ms-3">{{ resendCountdown }}</span>
                        </div>
                    </div>

                    <span
                        *ngIf="verificationForm.controls['verificationCode'].errors?.['required'] && verificationFormSubmitted"
                        class="text-xs text-red-600">
                        This field is required
                    </span>

                    <div class="mt-4 flex flex-col xl:flex-row xl:items-end">
                        <div>
                            <span class="italic">{{resetEmail}}</span>
                            <a class="link ms-4" (click)="reset()">Not you?</a>
                        </div>
                        <button class="btn btn-blue mt-8 xl:ms-auto xl:mt-0" type="submit">Submit</button>
                    </div>
                </form>
            </ng-template>

            <ng-template #resetPassword>
                <form [formGroup]="resetForm" (ngSubmit)="onResetFormSubmit()">
                    <div class="text-4xl font-medium">Reset Password</div>
                    <div class="mt-8">Enter your new password</div>

                    <div class="mt-7">
                        <input class="mt-3 text-sm rounded w-full text-slate-500 bg-slate-100" type="email"
                            placeholder="password" [value]="resetEmail" disabled />
                    </div>

                    <div>
                        <input class="mt-3 text-sm rounded w-full" type="password" placeholder="new password"
                            formControlName="password"
                            [ngClass]="{'border border-red-600': resetForm.controls['password'].errors && resetFormSubmitted}" />
                        <span *ngIf="resetForm.controls['password'].errors?.['required'] && resetFormSubmitted"
                            class="text-xs text-red-600">
                            This field is required
                        </span>
                    </div>

                    <div>
                        <input class="mt-3 text-sm rounded w-full" type="password" placeholder="confirmed password"
                            formControlName="confirmedPassword"
                            [ngClass]="{'border border-red-600': resetForm.controls['confirmedPassword'].errors && resetFormSubmitted}" />
                        <span
                            *ngIf="resetForm.controls['confirmedPassword'].errors?.['required'] && resetFormSubmitted; else checkSamePassword"
                            class="text-xs text-red-600">
                            This field is required
                        </span>
                        <ng-template #checkSamePassword>
                            <span *ngIf="resetForm.hasError('passwordMismatch') && resetFormSubmitted"
                                class="text-xs text-red-600">
                                Passwords are not same
                            </span>
                        </ng-template>
                    </div>

                    <div class="mt-4 flex">
                        <button class="btn btn-blue ms-auto" type="submit">Submit</button>
                    </div>
                </form>
            </ng-template>
        </div>

        <div
            class="absolute end-0 top-0 bg-gradient-to-r from-blue-500 to-cyan-500 hidden lg:block w-3/5 flex justify-center h-full px-14 py-10">
            <img src="../../../assets/img/group.png" class="max-h-full h-full" />
        </div>
    </div>
</div>
