/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}

@layer components {
    .navbar {
        @apply w-full hover:text-white cursor-pointer mt-2 sm:mt-0;
    }

    .active{
        @apply bg-gray-900 text-slate-50 sm:bg-transparent;
    }

    .btn {
        @apply rounded px-4 py-2
    }

    .btn-blue {
        @apply bg-blue-600 hover:bg-blue-700 text-slate-50
    }

    .btn-black{
        @apply bg-slate-800 hover:bg-slate-950 text-slate-50
    }

    .link {
        @apply text-blue-600 hover:text-blue-800 underline cursor-pointer
    }
}
